/*  your css code here. If applicable */
#selector{
	font-color:#00f;
    background-color:#eee;
	font-family:sans-serif;
}
/* #selector2{
	font-color:#00f;
    background-color:#eee;
	font-family:sans-serif;
} */